.txt-base {
    color: var(--bs-txt-base) !important;
}
.txt-muted {
    color: var(--bs-txt-muted) !important;
}
.txt-faint {
    color: var(--bs-txt-faint) !important;
}
.txt-black-fixed {
    color: var(--bs-txt-black-fixed) !important;
}

.txt-white-fixed {
    color: var(--bs-txt-white-fixed) !important;
}
.txt-gray-fixed {
    color: var(--bs-txt-gray-fixed) !important;
}
