@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-Thin.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-Thin.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-Light.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-Light.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-Regular.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-Regular.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-SemiBold.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-SemiBold.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-Bold.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-Bold.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-Black.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-Black.woff') format('woff');
}

@font-face {
    font-family: "YekanBakhFaNum";
    font-style: normal;
    font-display: swap;
    font-weight: 950;
    src: url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.woff2') format('woff2'), url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.woff') format('woff');
}
